In [11]:
import pandas as pd
import numpy as np

In [21]:
train=pd.read_csv('C:/Users/This pc/Desktop/into-the-future/train.csv')
test=pd.read_csv('C:/Users/This pc/Desktop/into-the-future/test.csv')
train.head()

   id                 time   feature_1     feature_2
0   0  2019-03-19 00:00:00  735.740043  54479.540513
1   1  2019-03-19 00:00:10  734.102947  47888.033714
2   2  2019-03-19 00:00:20  730.060336  47700.882325
3   3  2019-03-19 00:00:30  725.609742  47790.094648
4   4  2019-03-19 00:00:40  724.328480  47808.402381

In [22]:
test.head(10)

    id                 time   feature_1
0  564  2019-03-19 01:34:00  423.064004
1  565  2019-03-19 01:34:10  423.342749
2  566  2019-03-19 01:34:20  423.181186
3  567  2019-03-19 01:34:30  421.275243
4  568  2019-03-19 01:34:40  422.208444
5  569  2019-03-19 01:34:50  422.616254
6  570  2019-03-19 01:35:00  425.829766
7  571  2019-03-19 01:35:10  426.243830
8  572  2019-03-19 01:35:20  426.042621
9  573  2019-03-19 01:35:30  424.733116

In [23]:
test.isnull().sum()

id           0
time         0
feature_1    0
dtype: int64

In [24]:
train.isnull().sum()

id           0
time         0
feature_1    0
feature_2    0
dtype: int64

In [25]:
train.describe()

              id   feature_1     feature_2
count  564.00000  564.000000    564.000000
mean   281.50000  523.754885  52487.426941
std    162.95705   70.507377   1582.206650
min      0.00000  420.127639  47700.882325
25%    140.75000  474.970260  51842.916087
50%    281.50000  501.204656  53170.608346
75%    422.25000  569.862105  53515.111143
max    563.00000  735.740043  54479.540513

In [26]:
test.describe()

               id   feature_1
count  375.000000  375.000000
mean   751.000000  409.334539
std    108.397417   28.841608
min    564.000000  364.045118
25%    657.500000  383.701342
50%    751.000000  401.488841
75%    844.500000  432.481531
max    938.000000  466.892616

In [27]:
from sklearn.linear_model import LinearRegression
feat1=train['feature_1']
feat1_df=pd.DataFrame(feat1)

In [28]:
feat2=train['feature_2']
feat2_df=pd.DataFrame(feat2)

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(feat1_df,feat2_df,test_size=0.2,random_state=0)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(451, 1) (113, 1) (451, 1) (113, 1)

In [30]:
reg = LinearRegression()

In [33]:
reg.fit(feat1_df,feat2_df)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
reg.coef_

array([[-21.02054279]])

In [35]:
reg.intercept_

array([63497.03890325])

In [36]:
y_test_a=reg.predict(X_test)
y_train_a=reg.predict(X_train)

In [37]:
from sklearn.metrics import r2_score
r2_score(y_test,y_test_a)

0.9062886676348167

In [38]:
r2_score(y_train,y_train_a)

0.8713194475850381